 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/1548325719.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 541px;
}

.u-section-1 .u-text-1 {
  font-weight: 500;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: rgba(var(---r),var(---g),var(---b),0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  margin: 271px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 500;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: rgba(var(---r),var(---g),var(---b),0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  font-size: 1.875rem;
  margin: 19px 94px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 115px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 24px;
    margin-left: 54px;
    margin-right: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 257px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 33px;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 240px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 46px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-2.u-text-2.u-text-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-text-2 {
  border-color: transparent !important;
}

.u-section-1 .u-text-2.u-text-2.u-text-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-text-2 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 177px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: normal;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: rgba(var(---r),var(---g),var(---b),0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  margin: 60px auto;
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before,
.u-section-2 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-1.u-text-1.u-text-1:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-2 .u-text-1 {
  border-color: transparent !important;
}

.u-section-2 .u-text-1.u-text-1.u-text-1.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-2 .u-text-1 {
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 750px;
}

.u-section-3 .u-layout-wrap-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 65px auto 65px 0;
}

.u-section-3 .u-image-1 {
  min-height: 315px;
  background-image: url("images/Group7.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 315px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 37px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 315px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-3 .u-text-3 {
  margin: 39px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-image-2 {
  min-height: 315px;
  background-image: url("images/Group8.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 41px;
    margin-right: 41px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1379px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 198px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  font-weight: normal;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: rgba(var(---r),var(---g),var(---b),0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  margin: 50px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: auto;
    transform: translateX(0px) translateY(-5px) scale(1);
    margin-bottom: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }
}

.u-section-4 .u-text-1,
.u-section-4 .u-text-1:before,
.u-section-4 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-text-1.u-text-1.u-text-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-4 .u-text-1 {
  border-color: transparent !important;
}

.u-section-4 .u-text-1.u-text-1.u-text-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-4 .u-text-1 {
  border-color: transparent !important;
}

.u-section-4 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-block-8b94-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-8b94-5 {
  position: absolute;
  left: 0;
  width: 39px;
  height: 39px;
  right: auto;
}

.u-block-8b94-4 {
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-block-8b94-4 {
    width: 39px;
    height: 39px;
  }
}

 .u-section-5-1 {
  background-image: none;
}

.u-section-5-1 .u-sheet-1 {
  min-height: 603px;
}

.u-section-5-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 238px auto 0;
}

.u-section-5-1 .u-text-2 {
  width: 837px;
  margin: 11px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-5-1 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-5-1 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 397px;
  }

  .u-section-5-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 173px;
    margin-left: 18px;
  }

  .u-section-5-1 .u-text-2 {
    margin: 15px 18px 60px;
  }
}

@media (max-width: 575px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-5-1 .u-text-1 {
    font-size: 2.75rem;
    margin-top: 125px;
    margin-left: 23px;
  }

  .u-section-5-1 .u-text-2 {
    margin-top: 23px;
    margin-left: 23px;
    margin-right: 23px;
  }
}

 .u-section-5-2 {
  background-image: none;
}

.u-section-5-2 .u-sheet-1 {
  min-height: 603px;
}

.u-section-5-2 .u-text-1 {
  font-size: 4.5rem;
  margin: 161px auto 0;
}

.u-section-5-2 .u-text-2 {
  width: 837px;
  margin: 7px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-5-2 .u-text-2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-5-2 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-5-2 .u-text-2 {
    width: auto;
    font-size: 1.125rem;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-5-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 49px;
    margin-left: 18px;
  }

  .u-section-5-2 .u-text-2 {
    margin: 64px 18px 56px;
  }
}

@media (max-width: 575px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-5-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 75px;
    margin-left: 23px;
  }

  .u-section-5-2 .u-text-2 {
    margin-top: 38px;
    margin-left: 23px;
    margin-right: 23px;
  }
}

 .u-section-5-3 {
  background-image: none;
}

.u-section-5-3 .u-sheet-1 {
  min-height: 603px;
}

.u-section-5-3 .u-text-1 {
  font-size: 4.5rem;
  margin: 235px auto 0;
}

.u-section-5-3 .u-text-2 {
  width: 837px;
  margin: 14px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-5-3 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-5-3 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-5-3 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
  }

  .u-section-5-3 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-5-3 .u-text-1 {
    font-size: 2.75rem;
    width: auto;
    margin-top: 189px;
    margin-left: 23px;
  }

  .u-section-5-3 .u-text-2 {
    margin-top: 23px;
    margin-left: 23px;
    margin-right: 23px;
  }
}

 .u-section-5-4 {
  background-image: none;
}

.u-section-5-4 .u-sheet-1 {
  min-height: 603px;
}

.u-section-5-4 .u-text-1 {
  font-size: 4.5rem;
  margin: 235px auto 0;
}

.u-section-5-4 .u-text-2 {
  width: 837px;
  margin: 14px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-5-4 .u-text-1 {
    width: auto;
    margin-top: 231px;
    margin-left: 49px;
  }

  .u-section-5-4 .u-text-2 {
    width: auto;
    margin-top: 18px;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-5-4 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
  }

  .u-section-5-4 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-5-4 .u-text-1 {
    font-size: 2.75rem;
    margin-top: 226px;
  }

  .u-section-5-4 .u-text-2 {
    margin-top: 23px;
    margin-left: 23px;
    margin-right: 23px;
  }
}